<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>register_Servlet</servlet-name>
        <servlet-class>com.core.register_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_Servlet</servlet-name>
        <servlet-class>com.core.login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHECK_CREDENTIALS_SERVLET</servlet-name>
        <servlet-class>com.core.CHECK_CREDENTIALS_SERVLET</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shopping_cart_servlet</servlet-name>
        <servlet-class>com.core.Shopping_cart_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_entries_Servlet</servlet-name>
        <servlet-class>com.core.delete_entries_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_confirmation_Servlet</servlet-name>
        <servlet-class>com.core.payment_confirmation_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register_Servlet</servlet-name>
        <url-pattern>/register_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_Servlet</servlet-name>
        <url-pattern>/login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHECK_CREDENTIALS_SERVLET</servlet-name>
        <url-pattern>/CHECK_CREDENTIALS_SERVLET</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shopping_cart_servlet</servlet-name>
        <url-pattern>/Shopping_cart_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_entries_Servlet</servlet-name>
        <url-pattern>/delete_entries_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_confirmation_Servlet</servlet-name>
        <url-pattern>/payment_confirmation_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
